<li>
  <%= link_to incoming_rfq.subject, incoming_rfq %>
  | Originator: <%= incoming_rfq.originator %>
  | Forwarded By: <%= incoming_rfq.from %>
  | <%= pluralize(incoming_rfq.incoming_rfq_items.count, "item") %>
  <% if current_user.admin? %>
      | <%= link_to "delete", incoming_rfq, method: :delete,
                    data: { confirm: "Are you sure you want to delete this?" } %>
  <% end %>
</li>